<h1><%= @user.username %></h1>
<h5><%= @user.email %></h5>

<h4>Posts</h4>

<h5>New Post</h5>
<%= form_for Post.new do |f| %>
	<%=f.hidden_field :user_id, :value => current_user.id %>
	<%=f.label :title %>
	<%=f.text_field :title %>
	<%=f.label :body %>
	<%=f.text_field :body %>
	<%=f.submit %>
<% end %>

<% @posts.each do |x| %>
	<%= link_to x.title, x %>
	<%= x.body %>
<% end %>


<h3>Log Out</h3>

  <%= form_tag("/logout",method: "delete")do %>
  <%= submit_tag("Log Out") %>
  <% end %>








