<div id= 'mcontainer'>
<br>
<h1>Welcome <%= @user.username %>!</h1>
<%= link_to "Edit", edit_user_path %> your profile page!
<p>or</p>
<%= link_to "Gawk", posts_path %> at today's image!
<p>or</p>

<%= form_tag("/logout",method: "delete")do %> <%= submit_tag("Log Out") %>
<% end %><br><br>

</div>
