<h1><%= @user.username %></h1>
<h5><%= @user.email %></h5>

<%= link_to "Blog", new_post_path %>

<% @posts.each do |post| %>
<%= link_to new_post_path(post) %>
<% end %>

<h3>Log Out</h3>

  <%= form_tag("/logout",method: "delete")do %>
  <%= submit_tag("Log Out") %>
  <% end %>








