<div id= 'mcontainer'>
<br>
<h1>Welcome <%= @user.username %>!</h1>
<%= link_to "Edit", edit_user_path %> your profile page!
<p>or check out the</p>
<%= link_to "Blog", new_post_path %>,
<%= link_to "Posts", posts_path %>

<%= form_tag("/logout",method: "delete")do %><br>
<%= submit_tag("Log Out") %>
<% end %><br><br>

</div>








