<div id="pcontainer">
	<br>
	<h1>Image of the Day!</h1><br>

	<div id="image1">
		<img src="/assets/turtle.jpg">
	</div><br><hr><br>

<h2>Errbody's Posts</h2><br>
		<% @posts.each do |post| %>
			<%= link_to post.title, post_path(post) %><br><br>
			<%= post.body %><br><br>
		<% end %><br>

	<hr><br>

	<h2>Post Something</h2>

	<% if logged_in? %>

		<%= form_for Post.new do |f| %>

			<%= f.label :title %>
			<br>
			<%= f.text_field :title %>
			<br>
			<%= f.label :body %>
			<br>
			<%= f.text_area :body %>
			<br><br>
			<%=f.hidden_field :user_id, :value => @current_user.id %>
			<%= f.submit %>

		<% end %><br><br><hr><br>

		<%= link_to "Go Back to Main Account", @current_user %>

	<% end %>
<br><br><br><br>
</div>