<div id='ccontainer'>
<br><br>
<h1><%= @post.title %></h1>
<p><%= @post.body %></p><hr>

<h3>Comment on Post</h3>
<% if logged_in? %>
	<%= form_for Comment.new do |f| %>
		<%=f.text_field :body %><br><br>
		<%=f.hidden_field :user_id, :value => @current_user.id %>
		<%=f.hidden_field :post_id, :value => @post.id %>
		<%=f.submit %>
	<% end %>
<% end %>
	<br><hr><br>
		<%= link_to "Back to Account", @user_path %>
	<br><br><br>
</div>