<div id='ccontainer'>
	<br><br>
	<h1><%= @post.title %></h1>
	<p><%= @post.body %></p><br><br>
	<%= link_to "Edit Post", edit_post_path %><br><br><hr>

	<h2>Comments on this Post</h2>
	<% @comments.each do |comment| %>
		<%= comment.body %><br><br>
	<% end %>

	<%= link_to "Comment on Post", comments_path %><br>
	<br><hr><br>
	<%= link_to "Back to all Posts", :back %>
	<br><br><br>
</div>